DB_POSTGRES_DATABASE=users-db
DB_POSTGRES_HOST=localhost
DB_POSTGRES_USERNAME=username
DB_POSTGRES_PASSWORD=password
DB_POSTGRES_PORT=5432
DATABASE_URL=postgresql://${DB_POSTGRES_USERNAME}:${DB_POSTGRES_PASSWORD}@${DB_POSTGRES_HOST}:${DB_POSTGRES_PORT}/${DB_POSTGRES_DATABASE}